<% if user_signed_in? %>
	<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<% else %>
	<%= link_to('Sign in', new_user_session_path) %>
  <%= link_to('Sign up', new_user_registration_path) %>
<% end %>

<% if @posts.none? %>
  No posts yet
<% else %>
  <% @posts.each do |post| %>
    <h3><%= post.title %></h3>
    <p><%= post.description %></p>
    <p>
      <% post.tags.each do |tag| %>
        <%= link_to tag.formatted_name, tag %>
      <% end %>
    </p>

    <%= image_tag post.picture.url(:medium), class: 'uploaded-pic' %>


    <% if current_user %>
      <% if (like = post.likes.where(user: current_user).first) %>
        <%= link_to "Unlike", post_like_path(post, like), method: :delete %>
      <% else %>
        <%= link_to "Like", post_likes_path(post), method: :post %>
      <% end %>

      <% post.likes.each do |like| %>
        <%= like.user.email %> likes this
      <% end %>
    <% end %>
    <p><%= alert %></p>

    <% if post.user == current_user %>
      <%= link_to("Delete", post_path(post), method: :delete) %>
    <% end %>

  <% end %>
<% end %>

<%= link_to("New post", new_post_path) %>
