<div class="post-new">
  <%= form_for @post, html: { multipart: true } do |f| %>
    <div class="form-group">
      <p>
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </p>

      <p>
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control" %>
      </p>

      <p>
        <%= f.label :picture %>
        <%= f.file_field :picture, class: "form-control" %>
      </p>

      <p>
        <%= f.label :tag_names, 'Tags' %>
        <%= f.text_field :tag_names, class: "form-control" %>
      </p>
      <%= f.submit 'Post it!', class: "btn btn-lg-info" %>
    </div>
  <% end %>
</div>